
.half {
width: 50%;
padding: 32px 0;
}

.title {
font-family: sans-serif;
line-height: 24px;
display: block;
padding: 8px 0;
}

.readout {
    line-height: 180%;
    margin-left: 10px;
}

#values {
font-family: monospace;
line-height: 150%;
}

.link {
margin-top: 16px;
}

.link a {
color: MediumSlateBlue;
}
  