
    paragraph {
        position: absolute;
        left: 650px;
        top: 180px;
        line-height: 30px;
    } 

    pic {
        position: absolute;
        /*绝对位移*/
        left: 300px;
        /*left 属性规定元素的左边缘。该属性定义了定位元素左外边距边界与其包含块左边界之间的偏移。*/
        top: 150px;
        /*top 属性规定元素的顶部边缘。该属性定义了一个定位元素的上外边距边界与其包含块上边界之间的偏移。*/
        border:solid 1px black;
        /*图片边框*/
    }
    
    