.drawtools{
    top: 5em;
    right: 1em;
    flex-direction:column;
}

#ol-draw-none{
    background: url(./img/pointer_16px.png) no-repeat;
}

#ol-draw-point{
    background: url(./img/point_16px.png) no-repeat;
}

#ol-draw-linestring{
    background: url(./img/linestring_16px.png) no-repeat;
}

#ol-draw-polygon{
    background: url(./img/polygon_16px.png) no-repeat;
}

#ol-draw-circle{
    background: url(./img/circle_16px.png) no-repeat;
}

#ol-draw-box{
    background: url(./img/box_16px.png) no-repeat;
}

#ol-draw-clear{
    background: url(./img/clear.png) no-repeat;
}