.panel1 {
	display:table;
    /* display:block; */
	width: 100%;;
	height:100%;
    background: url(https://www.bing.com/th?id=OHR.ChengduPanda_EN-US7206176908_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
}
.panel-cover1 {
	display:block;
	/* position:fixed; */
   
	z-index:900;
	width:100%;
	max-width:none;
	height:100%;
	background:center center no-repeat url(https://www.bing.com/th?id=OHR.ChengduPanda_EN-US7206176908_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition:width .6s ease;
	-moz-transition:width .6s ease;
	transition:width .6s ease
}
/* getBingImages(
[
"/th?id=OHR.ChengduPanda_EN-US7206176908_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp",
"/th?id=OHR.AgueroSpain_EN-US7079433596_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp",
"/th?id=OHR.CyprusMaze_EN-US7012705307_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp",
"/th?id=OHR.LionessesNap_EN-US6947230556_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp",
"/th?id=OHR.TheaterRomania_EN-US6839059395_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp",
"/th?id=OHR.LongWharf_EN-US6625072596_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp",
"/th?id=OHR.EdaleValley_EN-US6544571023_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp",
"/th?id=OHR.WaimeaRainbow_EN-US1376447893_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp"
]
) */